:root {
    --background-color: #f0f2f5;
    --container-bg-color: #fff;
    --text-color: #333;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
}

body.dark-mode {
    --background-color: #333;
    --container-bg-color: #444;
    --text-color: #f0f2f5;
    --button-bg-color: #6c757d;
    --button-hover-bg-color: #5a6268;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex; /* Keep body as flex to center the main-layout */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height instead of height for better content adaptability */
    margin: 0;
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
}

.main-layout {
    display: flex;
    gap: 30px; /* Space between lotto generator and disqus */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: center; /* Center items if they wrap */
    padding: 20px; /* Add some padding around the content */
}

.container {
    text-align: center;
    background-color: var(--container-bg-color);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    flex-basis: 450px; /* Give containers a base width, allow shrinking/growing */
    max-width: 90%; /* Max width for responsiveness */
}

.disqus-container {
    background-color: #fbc400; /* Yellow background for disqus as requested */
    color: var(--text-color); /* Ensure text is readable on yellow */
}

h1, .disqus-container h2 {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 30px;
    transition: color 0.3s ease;
}

.numbers-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.number {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    background-color: #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.generate-btn, #theme-toggle {
    background-color: var(--button-bg-color);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px; /* Added margin for spacing between buttons */
}

.generate-btn:hover, #theme-toggle:hover {
    background-color: var(--button-hover-bg-color);
}

